<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <div id="drop-zone">
          <p>여기에 음악 파일을 드래그 앤 드롭하거나 클릭하여 선택하세요.</p>
          <input type="file" id="file-input" name="music_file" style="display: none;">
        </div>
        <textarea name="prompt" placeholder="프롬프트를 입력하세요."></textarea>
        <button type="submit">Generate</button>
        {% csrf_token %}
      </form>
      <p id="result"></p>
      <script src="{% static 'js/upload.js' %}"></script>
      
</body>
</html>